<div class="center">
  <div id="hy_dl_1a" style="height:600px">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <% if resource.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= "#{resource.errors.count}个错误:" %>
          </h2>
          <ul>
            <% resource.errors.full_messages.each do |msg| %>
              <li style="float:none">
                <%= msg %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="hy_dl_2">
        <div class="hy_dl_3a">
          <span class="txt_2">*</span> 用户类型：
        </div>
        <div class="hy_dl_3b">
          <div style="margin: auto;width: 240px;">
            <%= f.collection_radio_buttons :user_type, [['geren', '个人   '], ['gongsi', '公司   '], ['lietou', '猎头']], :first, :last %>
          </div>
        </div>
      </div>
      <div class="left corp_item" style="display:none"><img src="/img/tm.png" width="449" height="25"></div>

      <div class="hy_dl_2 corp_item" style="display:none">
        <div class="hy_dl_3a"><span class="txt_2">*</span> 公司名称：</div>
        <div class="hy_dl_4b">
          <%= f.input_field :company_name, class: "dl_sr2" %>
        </div>
      </div>      
      <div class="left"><img src="/img/tm.png" width="449" height="25" /></div>

      <div class="hy_dl_2">
        <div class="hy_dl_3a"><span class="txt_2">*</span> 手&nbsp;机&nbsp;号：</div>
        <div class="hy_dl_4b">
          <%= f.input_field :phone_number, class: "dl_sr2" %>
        </div>
      </div>

      <div class="left"><img src="/img/tm.png" width="449" height="25" /></div>
      <div class="hy_dl_2">
        <div class="hy_dl_3a"><span class="txt_2">*</span> 密&nbsp;&nbsp;&nbsp;&nbsp;码：</div>
        <div class="hy_dl_4b">
          <%= f.input_field :password, as: :password, class: "dl_sr2" %>
        </div>
      </div>

      <div class="left"><img src="/img/tm.png" width="449" height="25" /></div>
      <div class="hy_dl_2">
        <div class="hy_dl_3a"><span class="txt_2">*</span> 确认密码：</div>
        <div class="hy_dl_4b">
          <%= f.input_field :password_confirmation, as: :password, class: "dl_sr2" %>
        </div>
      </div>

      <div class="left"><img src="/img/tm.png" width="449" height="25" /></div>
      <div class="hy_dl_2">
        <div class="hy_dl_3a"><span class="txt_2">*</span> 联&nbsp;系&nbsp;人：
        </div>
        <div class="hy_dl_4b">
          <%= f.input_field :user_name, class: "dl_sr2" %>
        </div>
      </div>

      <div class="left"><img src="/img/tm.png" width="449" height="25" /></div>
      <div class="hy_dl_2">
        <div class="hy_dl_3a"><span class="txt_2">*</span> 地&nbsp;&nbsp;&nbsp;&nbsp;址：</div>
        <div class="hy_dl_3c">
          <div class="left">
            <div class="city-group">
              <select name="user[locate_province]" class="txt_1 city-select">
                  <option value="">请选择省份</option>
                  <%= options_for_select(ChinaCity.list) %>
              </select>      
              <select name="user[locate_city]" class="txt_1 city-select">
                <option value="">请选择城市</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="hy_dl_5">
        <input name="image" type="image" src="/img/member/qr.jpg" width="236" height="43" />
      </div>
      <div class="hy_dl_5"><a href="#" class="link_4">新用户注册须知？</a></div>
    <% end %>
  </div>

  <div class="hy_dl_6a">
    已有账号？<a href="#" class="link_4">直接登录！</a>
    <div class="left"><img src="<%= root_url %>images/tm.png" width="396" height="50" /></div>
    <div class="left"><img src="<%= root_url %>images/member/m1_r4_c5.jpg" /></div>
    <div class="left"><img src="<%= root_url %>images/tm.png" width="396" height="25" /></div>
    <div class="left"><a href="#" class="dla_1"></a></div>
    <div class="left"><img src="<%= root_url %>images/tm.png" width="108" height="42" /></div>
    <div class="left"><a href="#" class="dla_2"></a></div>
  </div>
</div>