<div class="box_1003"><img src="/images/ft_1_r1_c1.jpg"></div>

<div id="fb_nrk_2">
  <!--面包屑导航-->
  <div id="fb_mbx_3">
    <div class="fb_mbx_txt2"><a href="#" class="lk_6">第一步</a></div>
  <div class="fb_mbx_txt2"><a href="#" class="lk_6">第二步</a></div>
  <div class="fb_mbx_txt1">第三步</div>
  </div>
  <!--内容开始-->
  <%= form_for @record, :url => home_records_path do |f| %>
    <% if @record.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= "#{@record.errors.count}个错误:" %>
        </h2>
        <ul>
          <% @record.errors.full_messages.each do |msg| %>
            <li style="float:none">
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div id="fb_3bk">
      <div id="fb_3bk_bt">基本信息</div>
      <div class="box_left">
        <img src="/images/gr_r1_c1.jpg" width="753" height="22">
      </div>
      <table width="964" height="323" border="0" cellpadding="0" cellspacing="0">
        <input type="hidden" name="record[segment_id]" value="<%= seg_id %>" >
        <input type="hidden" name="record[category_id]" value="<%= cat_id %>" >
        <% if !@job_type.blank? %>
          <input type="hidden" name="record[job_type]" value="<%= @job_type %>" >
        <% end %>
        <tr>
          <td width="125" height="45" align="right" class="txt_004"><span class="txt_4">*</span> 标题：</td>
          <td width="566" height="45">
            <input name="record[title]" type="text" class="fb3_sr" />            
          </td>
        </tr>
        <tr>
          <td height="45" align="right" class="txt_004"><span class="txt_4">*</span> 证书所在地：</td>
        <td height="45">
      <div class="city-group">
        <select name="record[locate_province]" class="txt_004 city-select">
            <option value="无">请选择省份</option>
            <%= options_for_select(ChinaCity.list) %>
        </select>      
        <select name="record[locate_city]" class="txt_004 city-select">
          <option value="">请选择城市</option>
        </select>
        <select name="" class="txt_004 city-select">
          <option value="">请选择区县</option>
        </select>
      </div>
    </td>
          </tr>
        <tr>
          <td height="45" align="right" class="txt_004"><span class="txt_4">*</span> 注册情况：</td>
          <td height="45" class="txt_004"><input type="radio" name="record[register_status]" value="初始注册" />
            初始注册
            <input type="radio" name="record[register_status]" value="转注册" />
            转注册
            <input type="radio" name="record[register_status]" value="两者皆可" />
            两者皆可
          </td>
        </tr>
        <tr>
          <td height="45" align="right" class="txt_004">薪资水平:</td>
          <td height="45" class="txt_004">
      <select name="record[price]" class="txt_004">
            <option value="" selected="selected">面议</option>
      <option value="1万元以下">1万元以下</option>
      <option value="1-2万元">1-2万元</option>
      <option value="2-3万元">2-3万元</option>
      <option value="3-5万元">3-5万元</option>
      <option value="5-10万元">5-10万元</option>
      <option value="10-15万元">10-15万元</option>
      <option value="15万元以上">15万元以上</option>
      </select>
            职称：
            <select name="record[job_title]" class="txt_004">
              <option value="没有">没有</option>
              <option value="有">有</option>
      </select>
      </td>
          </tr>
        <tr>
          <td align="right" class="txt_004"><span class="txt_4">*</span> 详细说明：</td>
          <td><textarea name="record[details]" class="txt_fb_sr4"></textarea></td>
          </tr>
        <tr>
          <td>
          </td>
          <td >
            <input name="" type="image" src="/images/gr_r3_c2.jpg" width="145" height="30" style="margin: 10px; margin-left: 0px">
          </td>
        </tr>
      </table>
    </div>
  <% end %>  

<div class="box_1003"><img src="/images/ft_1_r5_c1.jpg"></div>