<div class="box_1003"><img src="/images/ft_1_r1_c1.jpg"></div>

<!--面包屑导航-->
<div class="box_1003_fbbt">
  <div id="fb_mbx_1">
    <div class="fb_mbx_txt1">第一步</div>
    <div class="fb_mbx_txt2">第二步</div>
    <div class="fb_mbx_txt2">第三步</div>
  </div>
</div>

<div id="fb_nrk">
  <!--内容开始-->
    <div id="fabu_two" class="my_left_category">
    <div class="my_left_cat_list">
    <table width="755">
      <tbody><tr>
        <td>
          <div><h3><a href="<%= home_publish_path %>/1">个人挂证</a></h3></div>
        </td>
        <td><div>
          <h3><a href="<%= home_publish_path %>/9">资质代办</a></h3>
          </div></td>
      </tr>
        <tr>
        <td>
          <div><h3><a href="<%= home_publish_path %>/3"></a><a href="<%= home_publish_path %>/2">企业找证</a></h3>
          </div>
        </td>
        <td>
          <div>
            <h3><a href="<%= home_publish_path %>/9">转让资质</a></h3></div>
        </td>
      </tr>
        <tr>
        <td>
          <div><h3><a href="<%= home_publish_path %>/3">登记简历</a></h3></div>
        </td>
        <td>
          <div>
            <h3><a href="<%= home_publish_path %>/9">求购资质</a></h3></div>
        </td>
      </tr>
        <tr>
          <td>
            <div>
            <h3><a href="<%= home_publish_path %>/1">全职信息</a></h3></div>
          </td>
          <td><div>
            <h3><a href="<%= home_publish_path %>/3">有资质找项目</a></h3>
          </div></td>
        </tr>
        <tr>
          <td><div>
            <h3><a href="<%= home_publish_path %>/3">公司注册</a></h3>
            </div></td>
          <td><div>
            <h3><a href="<%= home_publish_path %>/3">有项目找资质</a></h3>
          </div></td>
        </tr>
        <tr>
          <td><div>
            <h3><a href="<%= home_publish_path %>/3">证书培训</a></h3>
          </div></td>
          <td></td>
        </tr>
    </tbody></table>
    </div>
    </div>
</div>

<div class="box_1003"><img src="/images/ft_1_r5_c1.jpg"></div>