<div class="center"><img src="/img/ny_bkz/nyk3_r2_c1.jpg"></div>

<div id="ny3_bk">
  <div id="ny3_bk_left">
    <a href="#" class="ny3_zl">招聘信息</a>
  </div>
  
  <div id="ny3_bk_right">
    <div id="ny3_bk_r1" style="font-size:160%"><%= @record.title %></div>
    <div id="ny3_bk_r2">更新时间：<%= @record.updated_at.strftime('%Y-%m-%d').to_s %></div>
    <div class="left">
      <table width="743" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td width="101" height="45" align="right" class="txt_4">职位类别：
          <div id="zp_djk"><img src="/img/ny_bkz/zp.png"></div>            &nbsp;
          </td>
          <td width="305" height="45" class="txt_2"><%= @record.job_title %></td>
          <td width="96" height="45" align="right" class="txt_4">公司名称：&nbsp;</td>
          <td width="241" height="45"><span class="txt_4"><a href="#" class="link_4a1">xxxxxxxx</a></span></td>
        </tr>
        <tr>
          <td height="45" align="right" class="txt_4">所在地：&nbsp;</td>
          <td height="45" class="txt_4"><%= ChinaCity.get(@record.locate_province) %></td>
          <td height="45" align="right" class="txt_4"> 注册情况：&nbsp;</td>
          <td height="45"><span class="txt_4"><%= @record.register_status %></span></td>
        </tr>
        <tr>
          <td height="45" align="right" class="txt_4">价&nbsp;&nbsp;格：&nbsp;</td>
          <td height="45" class="txt_4"><%= @record.price %></td>
          <td height="45" align="right" class="txt_4">注册情况：&nbsp;</td>
          <td height="45" class="txt_4"><%= @record.register_status %></td>
        </tr>
        <tr>
          <td height="45" align="right" class="txt_4">薪资待遇：&nbsp;</td>
          <td height="45" class="txt_4">xxxxxxxx</td>
          <td height="45" align="right" class="txt_4">联系电话：&nbsp;</td>
          <td height="45" class="txt_2">xxxxxxxx</td>
        </tr>
        <tr>
          <td height="45" align="right" class="txt_4">工作年限：&nbsp;</td>
          <td height="45" class="txt_4">xxxxxxxx</td>
          <td height="45" align="right" class="txt_4">QQ 号 码：&nbsp;</td>
          <td height="45" class="txt_4">xxxxxxxx</td>
        </tr>
        <tr>
          <td height="45" align="right" class="txt_4">工作地点：&nbsp;</td>
          <td height="45" class="txt_4">xxxxxxxx</td>
          <td height="45" align="right" class="txt_4">电子邮箱：&nbsp;</td>
          <td height="45" class="txt_4">xxxxxxxx</td>
        </tr>
      </tbody></table>
    </div>
    <div id="ny3_bk_r3as">详细说明</div>
    <div id="ny3_bk_r3as1"><%= @record.details %></div>
  <div id="ny3_bk_r3as2"><a href="#" class="toudi"></a></div>
  </div>
</div>

<div class="center"><img src="/img/ny_bkz/nyk3_r9_c1.jpg"></div>