
<div class="box_1003">
  <div class="box_left"><img src="images/top_r7_c1.jpg"></div>
  <div class="box_left"><img src="images/rmsf.jpg"></div>
  <div id="rmsf">
    <ul>
        <li><a href="<%= zizhi_daiban_path %>" class="rm_lk">全国</a></li>
      <li><a href="<%= zizhi_province_path('110000') %>" class="rm_lk">北京</a></li>
      <li><a href="<%= zizhi_province_path('510000') %>" class="rm_lk">四川</a></li>
      <li><a href="<%= zizhi_province_path('320000') %>" class="rm_lk">江苏</a></li>
      <li><a href="<%= zizhi_province_path('310000') %>" class="rm_lk">上海</a></li>
      <li><a href="<%= zizhi_province_path('440000') %>" class="rm_lk">广东</a></li>
      <li><a href="<%= zizhi_province_path('370000') %>" class="rm_lk">山东</a></li>
      <li><a href="<%= zizhi_province_path('130000') %>" class="rm_lk">河北</a></li>
      <li><a href="<%= zizhi_province_path('330000') %>" class="rm_lk">浙江</a></li>
      <li><a href="<%= zizhi_province_path('610000') %>" class="rm_lk">陕西</a></li>
      <li><a href="<%= zizhi_province_path('340000') %>" class="rm_lk">安徽</a></li>
      <li><a href="<%= zizhi_province_path('500000') %>" class="rm_lk">重庆</a></li>
      <li><a href="<%= zizhi_province_path('420000') %>" class="rm_lk">湖北</a></li>
      <li><a href="<%= zizhi_province_path('410000') %>" class="rm_lk">河南</a></li>
      <li><a href="<%= zizhi_province_path('350000') %>" class="rm_lk">福建</a></li>
      <li><a href="<%= zizhi_province_path('120000') %>" class="rm_lk">天津</a></li>
      <li><a href="<%= zizhi_province_path('430000') %>" class="rm_lk">湖南</a></li>
      <li><a href="<%= zizhi_province_path('140000') %>" class="rm_lk">山西</a></li>
      <li><a href="<%= zizhi_province_path('360000') %>" class="rm_lk">江西</a></li>
      <li><a href="<%= zizhi_province_path('450000') %>" class="rm_lk">广西</a></li>
      <li><a href="<%= zizhi_province_path('210000') %>" class="rm_lk">辽宁</a></li>
      <li><a href="<%= zizhi_province_path('520000') %>" class="rm_lk">贵州</a></li>
      <li><a href="<%= zizhi_province_path('230000') %>" class="rm_lk">黑龙江</a></li>
      <li><a href="<%= zizhi_province_path('530000') %>" class="rm_lk">云南</a></li>
      <li><a href="<%= zizhi_province_path('620000') %>" class="rm_lk">甘肃</a></li>
      <li><a href="<%= zizhi_province_path('220000') %>" class="rm_lk">吉林</a></li>
      <li><a href="<%= zizhi_province_path('150000') %>" class="rm_lk">内蒙古</a></li>
      <li><a href="<%= zizhi_province_path('630000') %>" class="rm_lk">青海</a></li>
      <li><a href="<%= zizhi_province_path('460000') %>" class="rm_lk">海南</a></li>
      <li><a href="<%= zizhi_province_path('640000') %>" class="rm_lk">宁夏</a></li>
      <li><a href="<%= zizhi_province_path('650000') %>" class="rm_lk">新疆</a></li>
      <li><a href="<%= zizhi_province_path('540000') %>" class="rm_lk">西藏</a></li>
    </ul>
  </div>
  <div class="box_left"><img src="images/tel.jpg"></div>
  <div class="box_left"><img src="images/top_r7_c23.jpg"></div>
</div>

<div class="box_1003"><img src="images/top_r10_c1.jpg"></div>