<div class="box_1003"><img src="/images/hnr_r1_c1.jpg"></div>

<div id="hnr_bk">
  <!--内容 第一排-->
  <div class="hnr_y">
    <!--一级建造师-->
    <%= render partial: @seg_yjgcs, locals: { div_class: "zk_1", link_class: "lk_3", category_class: "zk_1nr"} %>
    <!--行 分割线-->
    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
    <!--电气工程师-->
    <%= render partial: @seg_dqgcs, locals: { div_id: "zk_12", link_class: "zk_5bt", category_class: "zk_2nr"} %>  
    <!--行 分割线-->
    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
    <!--公用设备工程师-->
    <!--行 分割线-->
    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
    <!--造价师-->
    
  </div>
  <!--竖 分割线-->
  <div class="box_left"><img src="/images/tm.png" width="30" height="100"></div>
  
  <!--内容 第二排-->
  <div class="hnr_y">
    <!--二级建造师-->
    <div class="hnr_bt"><a href="<%= post_category_path(:seg_name => @seg_ejjzs) %>" class="lk_3">二级建造师</a></div>
    <div class="hnr_nr">
      <ul>
        <%= render partial: @seg_ejjzs.categories, locals: { class_name: 'zk_2nr'} %>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
    <!--结构师-->
    <%= render partial: @seg_jgs, locals: { div_id: "zk_8", link_class: "zk_7bt", category_class: "zk_4nr"} %>
    <!--行 分割线-->
    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
    <!--建筑师-->
    <!--土木工程师-->
    
    <%= render partial: @seg_zczxs, locals: { div_id: "zk_5", link_class: "zk_5bt", category_class: "zk_2nr"} %>
    <!--行 分割线-->
    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
    <!--监理师-->
    
  </div>
  <!--竖 分割线-->
  <div class="box_left"><img src="/images/tm.png" width="30" height="100"></div>
  
  <!--内容 第三排-->
  <div class="hnr_y">
    <!--个人兼职简历-->
    <%= render partial: @seg_gysbgcs, locals: { div_id: "zk_7", link_class: "zk_6bt", category_class: "zk_4nr"} %> 
    <!--行 分割线-->
    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
  
    <%= render partial: @seg_jls, locals: { div_id: "zk_6", link_class: "zk_5bt", category_class: "zk_2nr"} %>
    

    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
    <!--注册咨询师-->
    <%= render partial: @seg_zjs, locals: { div_id: "zk_2", link_class: "zk_2bt", category_class: "zk_1nr"} %>
    <!--行 分割线-->
    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
    <!--其他证书-->
  </div>
  <!--竖 分割线-->
  <div class="box_left"><img src="/images/tm.png" width="30" height="100"></div>
  
  <!--内容 第四排-->
  <div class="hnr_y">
    <!--初/中/高级职称证书-->
    <div class="hnr_bt">
      <a href="<%= resume_category_path %>" class="lk_3">个人兼职简历</a>
    </div>
    <div class="hnr_nr">
      <ul>
        <% @segments.each do |segment| %>
          <li>
            <%= link_to "#{segment.title}(#{segment.resumes.count})", resume_category_path(:seg_name => segment), class: 'hnr_lk' %>
          </li>
        <% end %>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
    <!--资质代办-->
    <%= render partial: @seg_qtzs, locals: { div_id: "zk_5", link_class: "zk_5bt", category_class: "zk_2nr"} %>
  </div>
  <!--竖 分割线-->
  <div class="box_left"><img src="/images/tm.png" width="30" height="100"></div>
  
  <!--内容 第五排-->
  <div class="hnr_y">
    <!--全职招聘-->
    <div class="hnr_bt">
      <a href="<%= agent_category_path %>" class="lk_3">资质代办</a>
    </div>
    <div class="hnr_nr">
      <ul>
        <% @seg_zzdb.each do |segment| %>
          <li>
            <%= link_to "#{segment.title}(#{segment.records.count})", agent_category_path(:seg_name => segment), class: 'hnr_lk' %>
          </li>
        <% end %>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="/images/tm.png" width="170" height="20"></div>
    <!--其它证书-->

  </div>
</div>

<div class="box_1003"><img src="/images/hnr_r5_c1.jpg"></div>