<%= simple_form_for @resume do |f| %>
    <% if @resume.errors.any? %>
      <div id="fb_3bk">
        <h2>
          <%= "#{@resume.errors.count}个错误:" %>
        </h2>
        <div class="fb_nk_n">
          <ul>
            <% @resume.errors.full_messages.each do |msg| %>
              <li style="float:none">
                <%= msg %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="hidden" style="display:none">
      <%= f.input_field :segment_id, value: @seg_id, as: :hidden %>
      <%= f.input_field :category_id, value: @cat_id, as: :hidden %>
      <%= f.input_field :resume_type, value: @type_id, as: :hidden %>
    </div>


  <div id="fb_3bk">
    <div id="fb_3bk_bt">基本信息</div>
    <div class="box_left"><img src="/images/gr_r1_c1.jpg" width="753" height="22"></div>
    <div class="fb_nk_n">
      <div class="fb_nk_n1"><span class="txt_4">*</span> 真实姓名:</div>
      <div class="fb_nk_n3">
        <%= f.input_field :name, class: "txt_fb_sr1" %>
      </div>
      <div class="fb_nk_n2">性别:</div>
      <div class="fb_nk_n3">
          <%= f.input_field :sex, collection: ['男', '女'], class: 'jl_xl', prompt: "请选择.." %>
        </div>
    </div>
      
      <div class="fb_nk_n">
        <div class="fb_nk_n1"><span class="txt_4">*</span> 学历:</div>
        <div class="fb_nk_n3">
          <%= f.input_field :edu_level, collection: ['高中', '中专', '大专', '本科', '硕士', '博士'], class: 'jl_xl', prompt: "请选择.." %>
        </div>
        <div class="fb_nk_n2">出生年月:</div>
        <div class="fb_nk_n3">
          <%= f.input_field :birth_year, class: "txt_fb_sr2" %>
        </div>
        <div class="fb_nk_n2">年</div>
        <div class="fb_nk_n3">
          <%= f.input_field :birth_month, class: "txt_fb_sr2"%>
        </div>
        <div class="fb_nk_n2">月</div>
        <div class="fb_nk_n3">
          <%= f.input_field :birth_day, class: "txt_fb_sr2"%>
        </div>
      <div class="fb_nk_n2">日</div>
      </div>
    
    <div class="fb_nk_n">
        <div class="fb_nk_n1"><span class="txt_4">*</span> 证书所在地:</div>
        <div class="fb_nk_n3">
          <div class="city-group">
            <select name="resume[work_province]" class="txt_fbxl city-select">
              <option value="无">请选择省份</option>
              <%= options_for_select(ChinaCity.list) %>
            </select>      
            <select name="resume[work_city]" class="txt_fbxl city-select">
              <option value="">请选择城市</option>
            </select>
            <select name="" class="txt_fbxl city-select">
              <option value="">请选择区县</option>
            </select>
          </div>
        </div>
    </div>
    
    <div class="fb_nk_n">
        <div class="fb_nk_n1"><span class="txt_4">*</span> 注册情况:</div>
        <div class="fb_nk_n4">
          <%= f.input_field :register_status, collection: ['初始注册', '转 注 册', '重新注册'], as: :radio, class: 'jl_xl' %>
        </div>
    </div>
    
    <div class="fb_nk_n">
      <div class="fb_nk_n1">薪资水平:</div>
      <div class="fb_nk_n4">
        <%= f.input_field :price_month, collection: ['2000-3000', '3000-5000', '5000-8000', '1万-1.5万', '2万以上'], class: 'jl_xl', prompt: "请选择.." %>
      </div>
    </div>
    
    <div class="fb_nk_n5">
      <div class="fb_nk_n1"><span class="txt_4">*</span> 详细说明:</div>
      <div class="fb_nk_n6">
        <%= f.input_field :person_summary, as: :text, class: "txt_fb_sr4"%>
      </div>
    </div>
    
    <div class="fb_nk_n7">
      <input name="" type="image" src="/images/gr_r3_c2.jpg" width="145" height="30">
    </div>
  </div>
  <% end %>