<!--内容块 开始-->
<div class="center">
  <img src="<%= root_path %>images/jianli/bt_2.jpg" />
</div>
<div class="center">
  <%= simple_form_for @resume do |f| %>
    <% if @resume.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= "#{pluralize(@resume.errors.count, "error")} prohibited this resume from being saved:" %>
        </h2>
        <ul>
          <% @resume.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="fb_b1">基本信息</div>
  <div class="fb_b3">
    <div id="fb_jbxx">
      <table width="678" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <%= f.input_field :segment_id, value: seg_id, as: :hidden %>
          <%= f.input_field :category_id, value: cat_id, as: :hidden %>
          <tr>
          <td width="110" height="40" align="right" class="txt_1"><span class="txt_2">*</span> 姓&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
          <td width="185" height="40">
            <%= f.input_field :name, class: "jl_sr" %>
          </td>
          <td width="105" height="40" align="right"><span class="txt_1">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span></td>
          <td width="293" height="40">
            <%= f.input_field :sex, collection: ['男', '女'], class: 'jl_xl', prompt: "请选择.." %>
          </td>
        </tr>
        <tr>
          <td height="40" align="right" class="txt_1"><span class="txt_2">*</span> 移动电话：</td>
          <td height="40">
            <%= f.input_field :mobile, class: "jl_sr" %>
          </td>
          <td height="40" align="right">出生年月：</td>
          <td height="40" class="txt_1">
            <%= f.input_field :birth_year, class: "jl_sr3" %>
            年
            <%= f.input_field :birth_month, class: "jl_sr4"%>
            月
            <%= f.input_field :birth_day, class: "jl_sr4"%>
            日</td>
        </tr>
        <tr>
          <td height="40" align="right" class="txt_1">电子邮件：</td>
          <td height="40">
            <%= f.input_field :email, class: "jl_sr" %>
          </td>
          <td height="40" align="right"><span class="txt_1">QQ 号&nbsp;码：</span></td>
          <td height="40">
            <%= f.input_field :qq, class: "jl_sr" %>
          </td>
        </tr>
        <tr>
          <td height="40" align="right" class="txt_1">工作年限：</td>
          <td height="40">
            <%= f.input_field :work_year, collection: ['无经验', '1-3年', '3-5年', '5-10年', '10年以上'], class: 'jl_xl', include_blank: false %>
          <td height="40" align="right"><span class="txt_1"><span class="txt_2">*</span> 学&nbsp;&nbsp;&nbsp;&nbsp;历：</span></td>            
          <td height="40">
            <%= f.input_field :edu_level, collection: ['高中', '中专', '大专', '本科', '硕士', '博士'], class: 'jl_xl', prompt: "请选择.." %>
          </td>
        </tr>
        <tr>
          <td height="40" align="right" class="txt_1"><span class="txt_2">*</span> 注册状态：</td>
          <td height="40">
            <%= f.input_field :register_status, collection: ['初始注册', '转 注 册', '重新注册', '延期注册'], class: 'jl_xl', prompt: "请选择.." %>
          </td>
          <td height="40" align="right"><span class="txt_1"><span class="txt_2">*</span> 社保状态：</span></td>
          <td height="40">
            <%= f.input_field :social_security, collection: ['可转社保', '不可转社保'], class: 'jl_xl', prompt: "请选择.." %>
          </td>
        </tr>
        <tr>
          <td height="40" align="right" class="txt_1"><span class="txt_2">*</span> 安全员B证：</td>
          <td height="40">
            <%= f.input_field :security_b, collection: ['可考B证', '不可考B证', '带有B证'], class: 'jl_xl', prompt: "请选择.." %>
          </td>
          <td height="40" align="right"><span class="txt_1"><span class="txt_2">*</span> 意向价格：</span></td>
          <td height="40">
            <%= f.input_field :intend_price, collection: ['面 议', '0-1万', '1-2万', '2-6万', '6万以上'], class: 'jl_xl', prompt: "请选择.." %>
          </td>
        </tr>
        
        <tr>
          <td height="85" align="right" class="txt_1"><span class="txt_2">*</span> 自我描述：</td>
          <td height="85" colspan="3">
            <%= f.input_field :person_summary, class: "jl_sr2" %>
          </td>
        </tr>
        <tr>
          <td height="40" align="right" class="txt_2">备注：</td>
          <td height="40" colspan="3" class="txt_2"><span class="txt_1"><span class="txt_2"> 带有 *</span> </span>选项为必填项！</td>
        </tr>
      </tbody></table>
    </div>
  <div id="fb_txbk">
    <div id="fb_tx"><img src="" width="219" height="155" alt=""></div>
    <div id="fb_txan"><a href="#" class="fb_sc"></a></div>
    <div id="fb_txt">上传头像，有助于企业更好地认识您<br>
      头像建议：800*600像素</div>
  </div>
</div>
<div class="center"><img src="<%= root_path %>images/jianli/bk_1_r4_c1.jpg"></div>
<!--基本信息 结束-->

<!--求职意向 开始-->
<div class="fb_b1">求职意向</div>
<div class="fb_b3">
  <div id="fb_jbxx2">
      <table width="678" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td width="105" height="40" align="right" class="txt_1"><span class="txt_2">*</span> 简历标题：</td>
          <td width="573" height="40">
            <%= f.input_field :resume_title, class: "jl_sr5" %>
          </td>
        </tr>
        <tr>
          <td height="40" align="right" class="txt_1"><span class="txt_2">*</span> 求职地区：</td>
          <td height="40"><select name="resume[work_province]" class="jl_xl">
            <option value="">请选择省份</option>
            <option value="12">A 安徽</option>
            <option value="1">B 北京</option>
            <option value="22">C 重庆</option>
            <option value="13">F 福建</option>
            <option value="19">G 广东</option>
            <option value="20">G 广西</option>
            <option value="28">G 甘肃</option>
            <option value="24">G 贵州</option>
            <option value="3">H 河北</option>
            <option value="16">H 河南</option>
            <option value="21">H 海南</option>
            <option value="17">H 湖北</option>
            <option value="18">H 湖南</option>
            <option value="8">H 黑龙江</option>
            <option value="7">J 吉林</option>
            <option value="10">J 江苏</option>
            <option value="14">J 江西</option>
            <option value="6">L 辽宁</option>
            <option value="5">N 内蒙古</option>
            <option value="30">N 宁夏</option>
            <option value="29">Q 青海</option>
            <option value="9">S 上海</option>
            <option value="23">S 四川</option>
            <option value="15">S 山东</option>
            <option value="4">S 山西</option>
            <option value="27">S 陕西</option>
            <option value="2">T 天津</option>
            <option value="31">X 新疆</option>
            <option value="26">X 西藏</option>
            <option value="25">Y 云南</option>
            <option value="11">Z 浙江</option>
          </select>
            <select name="resume[work_city]" class="jl_xl">
              <option value="">请选择城市</option>
            </select></td>
        </tr>
        <tr>
          <td height="40" align="right" class="txt_1"><span class="txt_2">*</span> 期望月薪：</td>
          <td height="40">
      <select name="resume[price_month]" class="jl_xl">
            <option selected="">请 选 择</option>
            <option>2000-3000</option>
            <option>3000-5000</option>
            <option>5000-8000</option>
            <option>1万-1.5万</option>
            <option>2万以上</option>
      </select></td>
        </tr>
      </tbody></table>
    </div>
  <div id="fb_txan">
    <input name="" type="image" src="<%= root_url %>images/jianli/anniu_r3_c2.jpg"/>
  </div>
</div>
<div class="center"><img src="<%= root_path %>images/jianli/bk_1_r4_c1.jpg"></div>
  <% end %>
</div>

<!--内容块 结束-->
