<div class="zs_nz_1" style="min-height:200px">
  <div class="zs_nz_b4"><a href="<%= resume_path(resume.id) %>" class="lk_7"><%= resume.name %></a></div>
  <div class="zs_nz_b4"><%= resume.price_month %></div>
  <div class="zs_nz_b4"><%= resume.edu_level %></div>
  <div class="zs_nz_b2"><%= resume.segment.title %> - <%= resume.category.title %></div>  
  <div class="zs_nz_b4"><%= ChinaCity.get(resume.work_province) %></div>
  <div class="zs_nz_b4"><%= resume.updated_at.strftime('%Y-%m-%d %H:%M:%S').to_s %></div>
</div>