/ 内容框开始
#m_center
  / 左侧菜单
  #m_left
    .m_left_bt 我的招聘
    .m_left_dx 选中之后效果
    %a.m_l_dx{:href => "#"} 兼职信息
    %a.m_l_dx{:href => "#"} 全职信息
    %a.m_l_dx{:href => "#"} 资质信息
    %a.m_l_dx{:href => "#"} 已下载的简历
    .m_left_bt 管理账户
    %a.m_l_dx{:href => "#"} 公司主页
    %a.m_l_dx{:href => "#"} 企业资料
    %a.m_l_dx{:href => "#"} 企业模板
    .m_left_bt 安全中心
    %a.m_l_dx{:href => "#"} 手机验证
    %a.m_l_dx{:href => "#"} 修改密码
    %a.m_l_dx{:href => "#"} 营业执照认证
    .m_left_bt 安全中心
    %a.m_l_dx{:href => "#"} 手机验证
    %a.m_l_dx{:href => "#"} 修改密码
    %a.m_l_dx{:href => "#"} 营业执照认证
    .m_left_bt 余额管理
    %a.m_l_dx{:href => "#"} 我的余额
    %a.m_l_dx{:href => "#"} 财务明细
    %a.m_l_dx{:href => "#"} 账户充值
    .m_left_bt 消息管理
    %a.m_l_dx{:href => "#"} 系统消息
    %a.m_l_dx{:href => "#"} 我的私信
  / 
  / 右侧内容
  #m_right
    .m_rk
      欢迎您，
      %span.txt_2> 
        = @profile.name
        ,
      %a.m_ck{:href => "#"}> 安全退出
      \&nbsp;&nbsp;&nbsp;成为VIP会员享受更多服务！&nbsp;&nbsp;&nbsp;
      %a.m_ck{:href => "#"} 查看VIP会员功能>>
    .left
      %img{:src => "/img/member/hy_r4_c4.jpg"}/
    .m_rk
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "790"}
        %tr
          %td{:height => "35", :width => "79"} 账户状态：
          %td{:height => "35", :width => "711"}
            启用中&nbsp;&nbsp;&nbsp;手机未验证
            %img{:height => "18", :src => "/img/member/m_s1.jpg", :width => "16"}/
            = succeed "  " do
              %img{:height => "18", :src => "/img/member/m_s2.jpg", :width => "16"}/
            = succeed "  \u{8425}\u{4e1a}\u{6267}\u{7167}\u{672a}\u{8ba4}\u{8bc1}" do
              %a.m_ck{:href => "#"} 现在就去&gt;&gt;
            = succeed "  " do
              %img{:height => "18", :src => "/img/member/m_y1.jpg", :width => "23"}/
            = succeed "  " do
              %img{:height => "18", :src => "/img/member/m_y2.jpg", :width => "23"}/
            %a.m_ck{:href => "#"} 现在就去&gt;&gt;
        %tr
          %td{:height => "35"} 简历提醒：
          %td{:height => "35"}
            %a.m_ck{:href => "#"}> 未读兼职简历
            \&nbsp;&nbsp;&nbsp;
            %a.m_ck{:href => "#"} 未读全职简历
        %tr
          %td{:height => "35"} 消息提醒：
          %td{:height => "35"}
            %a.m_ck{:href => "#"}> 未读系统消息
            (10)
    .left
      %img{:src => "/img/member/hy_r4_c4.jpg"}/
    .m_rk
      .m_rbt 24小时内的消息
      .m_rxh
        %table{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0"}
          %tr
            %td
              %img{:src => "/img/member/b1.png"}/
            %td
              %a.link_4{:href => "#"} 显示中的信息
            %td
              %img{:src => "/img/member/b2.png"}/
            %td
              %a.link_4{:href => "#"} 已删除的信息
    .m_rk
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "791"}
        %tr
          %td{:align => "left", :bgcolor => "#F7F7F7", :width => "383"} 标题
          %td{:align => "center", :bgcolor => "#F7F7F7", :width => "150"}
            %span.STYLE1 类型
          %td{:align => "center", :bgcolor => "#F7F7F7", :width => "258"}
            %span.STYLE1 管理
    / 内容循环开始
    .m_rk
      .m_x1
        %a.m_ck{:href => "#"} 需河南河北天津等地区职称证书挂靠专业不限
      .m_x2
        %img{:src => "/img/member/xs.jpg"}/
        %img{:src => "/img/member/wxs.jpg"}/
        显示中
      .m_x3
        %a.m_ck{:href => "#"}> 置顶
        \&nbsp;&nbsp;
        %a.m_ck{:href => "#"}> 刷新
        \&nbsp;&nbsp;
        %a.m_ck{:href => "#"}> 修改
        \&nbsp;&nbsp;
        %a.m_ck{:href => "#"} 删除
    .left
      %img{:src => "/img/member/hy_r4_c4.jpg"}/
    / 内容循环结束
    .m_rk
      %p
        %strong 说明：
        %br/
        1、刷新：将您的信息靠前显示，相当于新发一条。
        %br/
        2、置顶：将您的信息固定排在页面最顶部，不会被其他信息挤下去。
        %br/
        3、已删除：删除后别人就无法看到信息了。自己删除后可恢复，管理员删除的无法恢复，但有些信息可修改合规后再发布。
/ 尾部边框
.m_foot
  %img{:src => "/img/member/hy_foot.jpg"}/