<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>建筑同城</title>
  <link href="/stylesheets/css.css " rel="stylesheet" type="text/css" />  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <!--头部功能栏-->
  <%= render :partial => 'common/theme_profile/top_bar' %>

  <!--LOGO-->
  <!--导航-->
  <%= render :partial => 'common/theme_profile/top_nav' %>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>